<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Поле загрузки файлов, которое мы заслужили</title>
	<link href="C:\Users\Danil\source\repos\Lime_Editor\Lime_Editor\wwwroot\css\input.css" rel="stylesheet" />
	<script src="C:\Users\Danil\source\repos\Lime_Editor\Lime_Editor\wwwroot\js\input.js"></script>
	<script src="C:\Users\Danil\source\repos\Lime_Editor\Lime_Editor\wwwroot\js\jquery-3.3.1.min.js"></script>
</head>
<body>
	<form id="upload-container" method="POST" action="send.php">
		<img id="upload-image" src="upload.svg">
		<div>
			<input id="file-input" type="file" name="file" multiple>
			<label for="file-input">Выберите файл</label>
			<span>или перетащите его сюда</span>
		</div>
	</form>
</body>
</html>