@model Lime_Editor.Models.ImageModel;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование шаблона</title>
    <link href="~/css/main/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/main/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/main/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/main/animate.css" rel="stylesheet" />
    <link href="~/css/Choose.css" rel="stylesheet" />
    <link href="~/css/main/mainMeow.css" rel="stylesheet" />
    <link href="~/css/main/responsive.css" rel="stylesheet" />
    <link href="~/css/main/Themes.css" rel="stylesheet" />
    <link href="~/css/main/left-nav-style.css" rel="stylesheet" />
    <link href="~/css/input.css" rel="stylesheet" />
    <link href="~/css/EditText.css" rel="stylesheet" />
    <link href="~/css/TypeHeader_1.css" rel="stylesheet" />
    <link href="~/css/TypeHeader_2.css" rel="stylesheet" />
    <link href="~/css/TypeFooter_1.css" rel="stylesheet" />

    <link href="~/css/NewTextEdit.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link href="~/css/bootstrap/jquery-modal.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />


    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

</head><!--/head-->

<body onload="initDoc();" style="padding-left:0px; padding-right:0px;" id="container2">
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>



    <header class="header" id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-size: 40px;" href="#">LIME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home/MySites">
                                Главная
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Templates">Шаблоны</a>
                        </li>

                    </ul>

                    <li class="nav-item dropdown" style="margin-bottom:20px;">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">@User.Identity.Name</a>
                        <div class="dropdown-menu " data-popper-placement="bottom-start">
                            <a class="dropdown-item" href="@Url.Action("Profile")">Личный кабинет</a>
                            <a class="dropdown-item" href="@Url.Action("Logout")">Выход</a>
                        </div>
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <hr class="solid" style="margin-top:0px;" />
    <section id="container1">
        <div class="container" style="max-width: 100%;padding-right: 0px; padding-left: 0px;">
            <div class="row">
                <input type="checkbox" id="navv-toggle" hidden>
                <nav class="navv ">

                    <label for="navv-toggle" class=" navv-toggle" onclick></label>
                    <h2 class="logo">
                    </h2>
                    <ul>
                        <li><a onclick="genCover()" href="#1">Обложка</a>
                        <li><a href="#2">Текст</a>
                        <li><a href="#3">Медиа-файлы</a>
                        <li><a onclick="genTitle()" href="#4">Заголовки</a>
                        <li><a href="#ex2" rel="modal:open">Header</a>
                        <li><a href="#ex1" rel="modal:open">Footer</a>
                    </ul>
                </nav>
                <div id="ex1" class="modal" style="height:auto;">

                    <a class="btn col-1 mb-1 unvisible" onclick="genFooter_type1()" style="width: auto;">Анимированный Footer</a>
                    <a href="#" rel="modal:close">Close</a>

                </div>
                <div id="ex2" class="modal" style="height:auto;">

                    <a class="btn col-1 mb-1 unvisible" onclick="genHeader_type1()" style="width: auto;">Header-"Геометрия" </a>
                    <a class="btn col-1 mb-1 unvisible" onclick="genHeader_type2()" style="width: auto;">Header-"Как в редакторе"</a>
                    <a href="#" rel="modal:close">Close</a>

                </div>


                <div id="userSpace" name="draggable">
                  
                </div>
                <div id="userSpaceContinue">

                </div>

                <div class="row test justify-content-center" style="margin:50px;" id="test">
                    <h2 class="text-center" id="collapsed">Начните работу с добавление одного из блоков</h2>
                    <label for="navv-toggle" class="btn col-1 mb-1 navv-toggle" style="width: auto;" onclick>Блоки</label>
                    <a class="btn col-1 mb-1 unvisible" onclick="genCover()" style="width: auto;">Обложка</a>
                    <a class="btn col-1 mb-1 unvisible " style="width: auto;">Файлы</a>
                    <a class="btn col-1 mb-1 unvisible" onclick="genText()" style="width: auto;">Текст</a>
                    <a class="btn col-1 mb-1 unvisible" onclick="genTitle()" style="width: auto;">Заголовок</a>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script src="~/js/main/jquery.js"></script>
    <script src="~/js/main/jquery.scrollUp.min.js"></script>
    <script src="~/js/main/bootstrap.min.js"></script>
    <script src="~/js/main/jquery.prettyPhoto.js"></script>
    <script src="~/js/main/main.js"></script>
    <script src="~/js/main/Themes.js"></script>
    <script src="~/js/DemoGenerator.js"></script>
    <script src="~/js/nunjucks.js"></script>
    <script src="~/js/input.js"></script>
    <script src="https://kit.fontawesome.com/158ace7cc9.js" crossorigin="anonymous"></script>
    <script src="~/js/NewTextEdit.js"></script>
    <script src="~/js/DemoInput.js"></script>
    <script src="~/js/demoSver.js"></script>
    <script src="~/js/EditText.js"></script>


</body>
</html>