@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link href="~/css/signin/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/main/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/signin/style.css" rel="stylesheet" />
    <link href="~/css/sign.css" rel="stylesheet" />
    <link href="~/css/main/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/main/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/main/animate.css" rel="stylesheet" />
    <link href="~/css/main/mainMeow.css" rel="stylesheet" />
    <link href="~/css/main/responsive.css" rel="stylesheet" />
    <link href="~/css/main/Themes.css" rel="stylesheet" />
    <title>Личный кабинет</title>
</head>
<body>
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-size: 40px;" href="#">LIME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a>
                            <div class="dropdown-menu " data-popper-placement="bottom-start">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-12 cd-lg-10" style="text-align: center;">
                        <h2 style="margin-left: 0px;">Личный кабинет</h2>
                        <p>Здеь вы можете обновить данные для входа, и отображаемую информацию</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <form class="row" style="margin-bottom: 5px;">
                            <h2 style="">Отображаемая информация</h2>
                            <fieldset>
                                <div class="form-group row">
                                    <label for="exampleInputEmail1" class="col-10 cd-4 form-label mt-4" style="width: 224px">Имя</label>
                                    <input type="text" class="col-10 cd-4 form-label form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Иван" style=" width: 250px !important; margin-bottom: 0px;margin-top: 8px;">
                                </div>
                                <div class="form-group row">
                                    <label for="exampleInputPassword1" style=" width: 224px !important; margin-bottom: 0px;margin-top: 8px;" class="col-10 cd-4 form-label mt-4">Фамилия</label>
                                    <input type="text" class="col-10 cd-4 form-label form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Иванов" style=" width: 250px !important; margin-bottom: 0px;margin-top: 8px;">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <form class="row" style="margin-bottom: 5px; margin-top: 20px;">
                            <h2 style="">Данные для входа</h2>
                            <fieldset>
                                <div class="form-group row">
                                    <label for="exampleInputEmail1" class="col-10 cd-4 form-label mt-4" style="width: 260px">Эл.Почта</label>
                                    <input type="email" class="col-10 cd-4 form-label form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите почту" style=" width: 330px !important; margin-bottom: 0px;margin-top: 8px;">
                                    <small id="emailHelp" class=" form-text text-muted" style="width: 1000px;  margin-top: 0px; margin-bottom: 1px !important;height: 20px;">Никому не сообщайте почту для авторизации!</small>
                                </div>
                                <div class="form-group row">
                                    <label for="exampleInputPassword1" style=" width: 260px !important; margin-bottom: 0px;margin-top: 8px;" class="col-10 cd-4 form-label mt-4">Пароль</label>
                                    <input type="password" style=" width: 330px !important; margin-bottom: 0px;margin-top: 8px;" class="col-10 cd-4 form-label form-control" id="exampleInputPassword1" placeholder="************">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 20px;">
                    <div class="col-10">
                        <div class="row" style="margin-bottom: 5px;">
                            <h2 style="">Подключенные соц-сети</h2>
                            <fieldset>
                                <div class="row" style="margin-top: 10px;">
                                    <img class="col-1 cd-4 svg" src="~/images/vk_icon-icons.com_66102.svg" />
                                    <div class="col-6 cd-4">
                                        <h3>Vkontakte</h3>
                                        <small>Аккаунт не привязан</small>
                                    </div>
                                    <div class="col-2 cd-4">
                                        <a href="" class="btn btn-success" style="outline: none; box-shadow: none;background: transparent; border: 3px solid; border-color: #43cc29; color: #43cc29; width: auto; height: auto;"><i class=""></i>Привязать</a>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <img class="col-1 cd-4 svg" src="~/images/google_icon-icons.com_62736.svg" />
                                    <div class="col-6 cd-4">
                                        <h3>Google</h3>
                                        <small>Аккаунт привязан</small>
                                    </div>
                                    <div class="col-2 cd-4">
                                        <a href="" style="outline: none; box-shadow: none; background: transparent; border: 3px solid; border-color: #e52527; color: #e52527; width: auto; height: auto; " class="btn btn-danger "><i class=""></i>Отвязать</a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/js/main/jquery.js"></script>
    <script src="~/js/main/jquery.scrollUp.min.js"></script>
    <script src="~/js/main/bootstrap.min.js"></script>
    <script src="~/js/main/jquery.prettyPhoto.js"></script>
    <script src="~/js/main/main.js"></script>
    <script src="~/js/main/Themes.js"></script>
</body>
</html>