<!DOCTYPE html> 
 <html lang="ru_RU"> 
 <head> 
 <meta charset="utf - 8"> 
<meta name="viewport" content="width = device - width, initial - scale = 1.0"> 
<title>Тестовый</title> 
<link href="~/css/main/bootstrap.min.css" rel="stylesheet"/> 
<link href="~/css/main/bootstrap.css" rel="stylesheet"/> 
<link href="~/css/main/mainMeow.css" rel="stylesheet" 
/><link href="~/css/main/responsive.css" rel="stylesheet" 
/><link href="~/css/main/Themes.css" rel="stylesheet" 
/></head> 
<body> 



                    <article class="cover" style="background-image: url(/images/cover-1.jpg) !important;">
                        <a href="#ex1" rel="modal:open">
                            <span class="material-icons" style="color:white">
                                build
                            </span>
                        </a>
                        <h4 contenteditable="true" class="cover__uptitle">your company</h4>
                        <h1 contenteditable="true" class="cover__title">Title/TagLine</h1>
                        <p contenteditable="true" class="cover__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis odio vel varius sollicitudin.</p>
                    </article>

                    <div id="ex1" class="modal" style="height:100px;">
                        <div class="input">
                            <div class="form-group">
                                <form method="post" enctype="multipart/form-data">
                                    <input type="file" accept=".jpg, .jpeg, .png" name="files" id="files" class="input-file">
                                    <label for="files" class="btn btn-tertiary js-labelFile">
                                        <i class="icon fa fa-check"></i>
                                        <input type="submit" value="Загрузить">
                                    </label>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FfZGLj61X1PopC6GSo8Lwf7xd_ncqZ_yZFEuO1YNmD_Dj9WQNclIJn22slObD2vsmZLJapLwhDFbciDrki9jHCQr98_CIbbR1tq7KvsCz3lNvU7FGH4AGI5MbErm40zydOF6Vx8cP043n0NpB7UrpU"></form>
                            </div>
                        </div>
                    </div>
                <div><h1 contenteditable="true" class="text-center">Hello world!!!</h1></div><div><h1 contenteditable="true" class="text-center">Hello world!!!</h1></div>
 </body> 
</html>